PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=mongodb+srv://huzaifakhawarm_db_user:hJvWdnvrdse5P7UC@cluster0.6rpifzc.mongodb.net/

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d

# API
API_URL=http://localhost:5000

# Frontend URL
FRONTEND_URL=http://localhost:3000
